@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*Header*/

body{
    width: 100vw;
    background-color: #620613;

    display: flex;
    flex-direction: column;

    align-items: center;

    overflow-x: hidden;
}

header {
    width: 800px;
    height: 90vh;
    background-color: white;

    font-family: Arial, Helvetica, sans-serif;

    box-shadow: black 0px 0px 20px 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}



header > a {
    color: black;
    text-decoration: none;
}

header > a:hover {
    text-decoration: underline;
    font-weight: bold;
}

header > h1 {
    margin: 15px;
}

header > section#info-iniciais {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

header > section#info-iniciais > p {
    margin-right: 100px;
    margin-left: 100px;

    text-align: center;
    font-size: 12pt;
    font-family: monospace, arial, helvetica, sans-serif;
}


header > section#sub-info {
    display: flex;
    flex-direction: row;

    font-weight: bolder;
}

header > section#sub-info > p {
    margin: 50px;
    text-align: center;
    cursor: pointer;
}

header > section#stutus {
    text-align: center;
}

header > section#stutus > p#aberto-fechado {
    color: rgb(0, 255, 0);
    font-weight: bolder;
    font-size: 16pt;
}

header > section#img-gif {
    width: 800px;
    height: 280px;
    background-color: red;

    margin-top: 25px;
}

header > section#botoes-cima {

    height: 45px;
    width: 800px;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    display: flex;
    flex-direction: row;

    
    align-items: center;

    background-color: rgb(250, 250, 250);
}

.minha-div-fixa {
    position: fixed;
    top: 0;
  }

header > section#botoes-cima > a {

    margin-left: 100px;

    cursor: pointer;

    font-weight: bolder;
    font-size: 14pt;

    color: rgb(0, 0, 0);

    background: none;   
    outline: none;
    border: none;

    text-decoration: none;
}

header > section#botoes-cima > a#btn-combos {
    margin-left: 75px;
    color: #ff0022;
}

section#pagamentos {
    display: none; /*None pagina inical ativa
                     flex pagina de pagamentos ativa
                    */
    flex-direction: column;
}

section#pagamentos > article#formasDePagamento {
    width: 100vw;
    height: 5vh;

    display: flex;
    flex-direction: row;

    align-items: center;
}

section#pagamentos > article#formasDePagamento > h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 1, 1);
    width: 100vw;
    padding: 30px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: white;

    cursor: pointer;
}

section#pagamentos > article#formasDePagamentoTwo {
    width: 100vw;
    height: 95vh;
    background-color: white;

    overflow: hidden;
}

/*Formas de pagamento*/

/*Money*/

section#pagamentos > article#formasDePagamentoTwo > section#money {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid rgb(117, 117, 117);

}

section#pagamentos > article#formasDePagamentoTwo > section#money > img {
    margin-left: 15px;
}

section#pagamentos > article#formasDePagamentoTwo > section#money > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}

/*Card*/

section#pagamentos > article#formasDePagamentoTwo > section#card {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid rgb(117, 117, 117);

}

section#pagamentos > article#formasDePagamentoTwo > section#card > img {
    margin-left: 15px;
}

section#pagamentos > article#formasDePagamentoTwo > section#card > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;

    margin: 15px;
}

/*Types cards*/

section#typesCard {
    display: flex;
    flex-direction: column;

    width: 94vw;
    
    margin-left: 100px;
}

section#typesCard > article.type {
    display: flex;
    flex-direction: row;

    height: 70px;

    align-items: center;
    margin: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13pt;

    border-bottom: 1px solid rgb(117, 117, 117);
}

section#typesCard > article.type > p {
    margin-left: 15px;
}

/*Horarios de funcionamento*/
section#horarios-de-funcionamento {
    display: none;
    flex-direction: column;

    width: 100vw;
}

section#horarios-de-funcionamento > article#horariosFuncionamento > div {
    width: 100vw;
    height: 1px;
    background-color: rgb(56, 56, 56);
}

section#horarios-de-funcionamento > article#horarios {
    height: 5vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

section#horarios-de-funcionamento > article#horarios > h1.voltarPaginaInicial {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 1, 1);
    width: 100vw;
    height: 35px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: white;

    cursor: pointer;
}

section#horarios-de-funcionamento > article#horariosFuncionamento {
    background-color: white;
    height: 95vh;
}

section#horarios-de-funcionamento > article#horariosFuncionamento > section.semana {
    display: flex;
    margin: 15px;
    width: 70vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

section#horarios-de-funcionamento > article#horariosFuncionamento > section.semana:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}

section#horarios-de-funcionamento > article#horariosFuncionamento > section.semana > p.hora {
    width: 150vh;

    display: flex;
    flex-direction: row;

    justify-content: right;
}

/*Informações Sobre a loja*/

section#infoAdd {
    display: none;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: white;
}

section#infoAdd > h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 1, 1);
    width: 100vw;
    height: 35px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: white;

    cursor: pointer;
}

section#infoAdd > section#allInfo {
    width: 90vw;
    height: 93vh;
    background-color: white;
}

section#infoAdd > section#allInfo > div {
    width: 100vw;
    height: 1px;
    background-color: rgb(56, 56, 56);
}


section#infoAdd > section#allInfo > section.infoEndereço {
    display: flex;
    flex-direction: row;

    height: 50px;

    align-items: center;

    margin: 15px;

    background-color: white;

    
}

section#infoAdd > section#allInfo > section.infoEndereço > h1 {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
}

section#infoAdd > section#allInfo > section.infoEndereço > h1#tel {
    margin-left: 15px;
}

section#infoAdd > section#allInfo > section.infoEndereço > a#whatssap,a#telefone {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: right;

    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
}

section#infoAdd > section#allInfo > section.infoEndereço > a {

    font-family: monospace, Arial, Helvetica, sans-serif;
    font-weight: bolder;

    color: black;
    text-decoration: none;

    display: flex;
    flex-direction: row;

    width: 100vw;
    justify-content: right;
}

section#infoAdd > section#allInfo > section#endereço {
    margin-left: 25px;
}

section#infoAdd > section#allInfo > section.infoEndereço > a#telefone {
    margin-right: 15px;
}

/*Google Maps*/

#maps {
    margin-top: 15px;
    width: 100vw;
}



/*Footer*/

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;

    display: flex;

    margin: 0;
    padding: 0;
}

section#sectionFooter {
    margin-bottom: 0;
}

footer > section > article#dados-Desenvolvedor {
    text-align: center;
}

footer > section > article#dados-Desenvolvedor > a > img {
    margin: 15px;
}

footer > section > article#dados-Desenvolvedor > h3 > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer > section > article#dados-Desenvolvedor > h3 > a:hover {
    text-decoration: underline;
}

footer > section {
    background-color: rgb(255, 255, 255);

    width: 100vw;
    height: 250px;

    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

footer > section > article {
    margin: 200px;
}

/*Sistema android*/

@media (max-width: 800px) {
    header > section#botoes-cima {
        width: 700px;

        display: flex;
        flex-direction: row;

        justify-content: center;
    }

    header > section#botoes-cima > a {
        font-size: 14pt;
        margin-left: 50px;
    }

    header > section#botoes-cima > a#btn-combos {
        margin-left: 0px;
    }
  }

  @media (max-width: 600px) {
    header > section#botoes-cima {
        width: 540px;

        display: flex;
        flex-direction: row;

        justify-content: center;
    }

    header > section#botoes-cima > a {
        font-size: 12pt;
        margin-left: 30px;
    }

    header > section#botoes-cima > a#btn-combos {
        margin-left: 0px;
    }
  }

  @media (max-width: 488px) {
    header {
        height: 800px;
        width: 100vw;
    }

    header > h1 {
        height: 37px;
        width: 74vw;
        margin-left: 45px;
        text-align: center;
    }

    header > a {
        font-size: 8pt;
        margin-left: 0px;
    }
    

    header > section#botoes-cima {
        width: 100vw;
    }

    header > section#botoes-cima > a {
        font-size: 9pt;
    }

    header > section#img-gif {
        width: 460px;
        height: 300px;

        background-color: white;
    }

    header > section#img-gif > img {
        width: 460px;
        height: 250px;
    }

    header > section#info-iniciais {
        height: 100px;
        width: 100vw;

        margin: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    header > section#info-iniciais > p {
        margin: 25px;
    }

    header > section#sub-info {
        width: 100vw;
        height: 200px;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;
    }

    header > section#sub-info > p {
        margin: 15px;
        font-size: 12pt;
    }

    header > section#stutus {
        text-align: center;
        height: 100px; 

        font-size: 12pt;
    }

    header > section#stutus > h2 {
        font-size: 12pt;
    }

    header > section#stutus > p#aberto-fechado {
        font-size: 12pt;
    }
    

    main {
        width: 100vw;
    }

    section#combos > article{
        width: 100vw;
        height: 200px;

        margin: 0;
        margin-top: 5px;
    }

    section#lanches > article{
        width: 100vw;
        height: 200px;
        margin: 0;
        margin-top: 5px;
    }

    section#bebidas > article{
        width: 100vw;
        height: 200px;
        margin: 0;
        margin-top: 5px;
    }

    section#hamburguer > article{
        width: 100vw;
        height: 200px;
        margin: 0;
        margin-top: 5px;
    }


    *{
        overflow-x: hidden;
    }

    body {
        display: flex;
        flex-direction: column;

        width: 100vw;

        align-items: center;
        justify-content: center;
    }

    footer {
        width: 100vw;
    }

    footer > section > article#dados-Desenvolvedor {
        height: 250px;
        width: 100vw;
        margin: 0;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    section#infoAdd > section#allInfo {
        width: 100vw;
    }

    section#infoAdd > section#allInfo > a {
        width: 50vw;
    }

    section#infoAdd > section#allInfo > section.infoEndereço {
        width: 90vw;
        height: 100px;
    }

    section#infoAdd > section#allInfo > section.infoEndereço > h1 {
        width: 200px;
    }

    section#infoAdd > section#allInfo > section.infoEndereço > img {
        margin-left: 15px;
    }

    section.semana > p {
        width: 300px;
    }

  }