@charset "utf-8";

main {
    width: 800px;
    height: 3200px;

    margin-top: 100px;
    display: flex;
    flex-direction: column;

    background-color: white;

    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    
}


main > h1 {
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 3em;
    font-weight: bolder;
}

section#combos {
    height: 800px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

section#combos > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align: center;

    padding: 5px;
}

section#combos > div {
    width: 56vw;
    height: 1px;
    background-color: rgb(255, 0, 0);
}

section#combos > article {
    background-color: rgba(0, 0, 0, 0.637);

    width: 770px;
    height: 250px;

    margin: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section#combos > article > h1 {
    color: white;
    font-size: 3em;
    font-family: monospace;
}

section#combos > article:hover {
    box-shadow: 0px 0px 14px black;
}

/*Hanburgues*/

section#hamburguer {
    height: 800px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}


section#hamburguer  > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align: center;

    padding: 5px;
}

section#hamburguer > div {
    width: 56vw;
    height: 1px;
    background-color: rgb(255, 0, 0);
}

section#hamburguer > article {
    background-color: rgba(0, 0, 0, 0.637);

    width: 770px;
    height: 250px;

    margin: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section#hamburguer > article > h1 {
    font: normal 2em arial;
    color: white;

}

section#hamburguer > article:hover {
    box-shadow: 0px 0px 14px black;
}

/*Bebidas*/

section#bebidas {
    height: 800px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

section#bebidas > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align: center;

    padding: 5px;
}

section#bebidas > div {
    width: 56vw;
    height: 1px;
    background-color: rgb(255, 0, 0);
}

section#bebidas > article {
    background-color: rgba(0, 0, 0, 0.637);

    width: 770px;
    height: 250px;

    margin: 15px;
}

section#bebidas > article:hover {
    box-shadow: 0px 0px 14px black;
}

/*Sachês*/

section#lanches {
    height: 800px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}


section#lanches > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align: center;

    padding: 5px;
}

section#lanches > div {
    width: 56vw;
    height: 1px;
    background-color: rgb(255, 0, 0);
}

section#lanches > article {
    background-color: rgba(0, 0, 0, 0.637);

    width: 770px;
    height: 250px;

    margin: 15px;
}

section#lanches > article:hover {
    box-shadow: 0px 0px 14px black;
}

/*Diversos*/

section#diversos {
    height: 800px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}


section#diversos > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align: center;

    padding: 5px;
}

section#diversos > div {
    width: 56vw;
    height: 1px;
    background-color: rgb(255, 0, 0);
}

section#diversos > article {
    background-color: rgba(0, 0, 0, 0.637);

    width: 770px;
    height: 250px;

    margin: 15px;
}

section#diversos > article:hover {
    box-shadow: 0px 0px 14px black;
}

section.removerComplemento {
    display: none;
    flex-direction: column;

    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    color: white;
    background-color: rgba(0, 0, 0, 0.842);

    width: 100vw;
    height: 340vh;

    position: absolute;

    z-index: 9999;
}

section.removerComplemento > article {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: 200px;

    width: 300px;
    height: 250px;

    position: fixed;
}

section.removerComplemento > article > button {
    background: none;
    margin: 5px;

    color: white;

    padding: 10px;

    width: 200px;   
}

section.removerComplemento > article > button:hover {
    background-color: wheat;
    color: black;

    transition: 1s;
}