@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

section#inatividade {
    width: 100vw;
    height: 4215px;
    background-color: rgba(0, 0, 0, 0.356);

    display: none;
    flex-direction: column;

    align-items: center;
    
    
    position: absolute;
}

section#inatividade > article {
    position: fixed;

    width: 770px;
    height: 300px;

    background-color: rgba(36, 36, 36, 0.795);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 15px;

    top: 150px;
}

section#inatividade > article > h1 {
    font-size: 1.5em;
}

section#inatividade > article > p {
    font-size: 1.5em;

    margin: 5px;
}

section#inatividade > article > a {
    text-decoration: none;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

/*Estilização botao*/


.botao-reconect {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

    margin: 15px;
    font-size: 16pt;
}

.botao-reconect:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.botao-reconect:active {
    color: #000
}

.botao-reconect:active:after {
    background: transparent;
}

.botao-reconect:hover:before {
    opacity: 1;
}

.botao-reconect:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (max-width: 488px) {
    section#inatividade {
        display: none;

        width: 486px;
        height: 4400px;
        background-color: rgba(0, 0, 0, 0.39);

        position: absolute;
        top: 0;
    }

    section#inatividade > article {
        width: 400px;
        height: 200px;
        position: fixed;

        top: 200px;
    }

    section#inatividade > article > h1 {
        font-size: 1em;
    }

    section#inatividade > article > p {
        font-size: 1em;
    }
    
    .botao-reconect {
        width: 150px;
        overflow: hidden;
    }

    section#inatividade > article > a {
        font-size: 16pt;
    }
 
}